buildroot/
output/*
*.sum
*.log

# The contents is extracted from kubernetes server tarball
src/board/rootfs_overlay/usr/*
src/board/rootfs_overlay/opt/*
src/board/rootfs_overlay/etc/cni/*
external/board/coreos/minikube/rootfs-overlay/usr/bin/*
external/board/coreos/minikube/rootfs-node-overlay/*
