set default="0"
set timeout="10"

menuentry "Buildroot" {
	linux __KERNEL_PATH__ root=/dev/sr0 console=tty0 console=ttyS0,115200 random.trust_cpu=on hw_rng_model=virtio systemd.legacy_systemd_cgroup_controller=yes
	initrd __INITRD_PATH__
}
